.slogan {
    display: flex;
    margin: 30px 15px;
    align-items: flex-start;
}

.slogan p {
    color: #464A48;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.81px;
    margin-top: 6px;
    margin-left: 13px;
}

@media only screen and (min-width: 854px) {
    .slogan {
        display: flex;
        margin: 60px 15vw;
    }

    .slogan p {
        color: #464A48;
        font-size: 26px;
        line-height: 46.81px;
    }
}

@media only screen and (min-width: 1920px) {
    .slogan {
        max-width: 1920px;
        display: flex;
        margin: 60px 282px;
    }

    .slogan p {
        color: #464A48;
        font-size: 26px;
        line-height: 46.81px;
    }
}