.advantages {
    padding-bottom: 15px;
}
@media only screen and (min-width: 854px) {
    .advantages {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 70px;
    
    }

    h1 {
        width: 100%;
    }
}