.content {
    margin: 5px 15px 20px 15px;
    padding: 25px 20px;
    border: 1px solid rgba(205, 174, 108, 0.30);
}

.content img {
    max-width: 45px;
    max-height: 45px;
    width: auto;
    height: auto;
}

.content p {
    color: #464A48;
    font-family: Lora;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.31px;
    letter-spacing: 0.4px;
}

@media only screen and (min-width: 854px) {
    .content {
        width: 24vw;
        padding: 2vw;
    }
    .content img {
        height: 45px;
    }
}

@media only screen and (min-width: 1920px) {
    .content {
        width: 30%;
        max-width: 525px;
        padding: 20px;
    }
    .content img {
        height: 45px;
    }
}