.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    padding: 0 15px;
}

.menu-desctop {
    display: none;
}

.social {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.lang span {
    color: #ABABAB;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.31px;
}

.lang .active {
    color: #464A48;
}

@media only screen and (min-width: 854px) {
    .menu {
        display: none;
    }
    .navigation {
        padding: 0 7vw;
    }
    .social img {
        max-width: 30px;
        max-height: 30px; 
    }

    .menu-desctop {
        display: block;
    }

    .menu-desctop ul {
        display: flex;
        gap: 3vw;
    }

    .menu-desctop li img {
        padding: 0 6px;
    }
 
    .menu-desctop li {
        list-style-type: none;
        color: #464A48;
        font-family: Lora;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 17.31px;
    }
}

@media only screen and (min-width: 1920px) {
    .menu {
        display: none;
    }
    .navigation {
        padding: 0 132px;
    }
    .social img {
        max-width: 30px;
        max-height: 30px; 
    }

    .menu-desctop {
        display: block;
    }

    .menu-desctop ul {
        display: flex;
        gap: 60px;
    }

    .menu-desctop li img {
        padding: 0 6px;
    }
 
    .menu-desctop li {
        list-style-type: none;
        color: #464A48;
        font-family: Lora;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 17.31px;
    }
}