header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../source/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 176px;
    padding: 21px 0;
}

@media only screen and (min-width: 854px) {
    header {
        background-image: url('../../source/bg-desctop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 232px;
        padding: 15px 0 19px 0;
    }

    header img {
        width: 258px;
        height: 198px;
    }
}