@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1,h2 {
  color: #464A48;
  font-family: Playfair Display;
  font-style: normal;
}
h1 {
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  line-height: 24.31px;
  text-transform: capitalize;
  margin: 30px 0;
}
h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.31px;
  margin-top: 18.5px;
  margin-bottom: 12px;
}