.slider{
    overflow: hidden;
}
.slider .slide {
    display: flex;
    align-items: center;
    user-select: none;
    position: relative;
    left: 0;
    width: 100vw;
    transform: translateX(0);
    min-width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out ;
}

.slider .slide img{
    min-width: 100%;
    height: auto;
}

.left-right {
    display: flex;
    height: 70vw;
    align-items: center;
    position: absolute;
    width: 100vw;
    z-index: 1;
}
.arrow {
    position: absolute;
}

.arrow:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-out;
}
.arrow.disable{
    opacity: 50%;
    transition: opacity 0.2s ease-out;
}
.to-left {
    left: 20px;
}
.to-right {
    right: 20px;
    rotate: 180deg;
}

@media only screen and (min-width: 854px) {
    .left-right {
        height: 37vw;
    }

    .slide img {
        content: url('../../source/1-1о 1 (desctop).jpg')
    }
}